@model QuanLyTrungTamTiemChung.Areas.Admin.ViewModel.KhoViewModel

@{
    ViewBag.Title = "Create";
}


<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>@Model.Title</h1>
            </div>

        </div>
    </div><!-- /.container-fluid -->
</section>


<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <!-- /.card-header -->
                    <div class="card-body">
                        <div class="row">
                            @using (Html.BeginForm("Save", "Kho", FormMethod.Post, new { style = "display: flex; width: 100%;" }))
                            {
                                @Html.AntiForgeryToken()

                                string returnUrl = ViewBag.ReturnUrl;

                                <input type="hidden" name="returnUrl" value="@returnUrl" />

                                @Html.HiddenFor(model => model.MAKHO)
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.TENKHO, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.TENKHO, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.TENKHO, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.SDT, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.SDT, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.SDT, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.DIACHI, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.DIACHI, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.DIACHI, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.MACS, htmlAttributes: new { @class = "control-label col-md-5" })
                                        <div class="col-md-10">
                                            @Html.DropDownListFor(m => m.MACS, new SelectList(Model.COSOs, "macs", "tencs"), "", new { @class = "form-control spb" })

                                            @Html.ValidationMessageFor(model => model.MACS, "", new { @class = "text-danger" })
                                        </div>
                                    </div>                                 
                                </div>
                                <div class="col=md-6" style="width: 100%">                                                                                                                                              
                                    <div class="form-group">
                                        <div class="col-md-offset-2 col-md-10">
                                            <input type="submit" value="Save" class="btn btn-primary" />
                                            <a href="@ViewBag.ReturnUrl" class="btn btn-warning">Huỷ</a>
                                        </div>
                                    </div>
                                </div>

                            }
                        </div>



                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">

    $('.spb').select2();
    $('.scv').select2();

    $(function () {
        $.validator.methods.date = function (value, element) {
            return this.optional(element) || moment(value, "DD/MM/YYYY", true).isValid();
        }

        $('#reservationdatetime1').datetimepicker({
            icons: { time: 'far fa-clock' },
            locale: 'vi',
            format: 'DD/MM/yyyy'
        });

    })
</script>
