@model QuanLyTrungTamTiemChung.Models.PHIEUNHAP


@{
    ViewBag.Title = "Create";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Thêm phiếu nhập</h1>
            </div>

        </div>
    </div><!-- /.container-fluid -->
</section>

@{Html.RenderAction("IndexLoVX", "PhieuNhap");}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <!-- /.card-header -->
                    <div class="card-body">
                        <div class="row">
                            @using (Html.BeginForm("Save", "PhieuNhap", FormMethod.Post, new { style = "display: flex; width: 100%;", enctype = "multipart/form-data" }))
                            {
                                @Html.AntiForgeryToken()
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.NGAYNHAP, htmlAttributes: new { @class = "control-label col-md-3" })
                                        <div class="col-md-10 input-group date" id="reservationdatetime1" data-target-input="nearest">

                                            @Html.EditorFor(model => model.NGAYNHAP, new { htmlAttributes = new { @class = "form-control" } })
                                            <div class="input-group-append" data-target="#reservationdatetime1" data-toggle="datetimepicker">
                                                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                            </div>

                                        </div>
                                        <div class="col-5">
                                            @Html.ValidationMessageFor(model => model.NGAYNHAP, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-offset-2 col-md-10">
                                            <input type="submit" value="Save" class="btn btn-primary" />
                                            <a href="~/Admin/PhieuNhap/Index" class="btn btn-warning">Huỷ</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col=md-6" style="width: 100%">

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.MANSX, htmlAttributes: new { @class = "control-label col-md-5" })
                                        <div class="col-md-10">
                                            @Html.DropDownListFor(m => m.MANSX, new SelectList(Model.NHASANXUATs, "mansx", "tennsx"), "", new { @class = "form-control spb" })

                                            @Html.ValidationMessageFor(model => model.MANSX, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.MANV, htmlAttributes: new { @class = "control-label col-md-5" })
                                        <div class="col-md-10">
                                            @Html.DropDownListFor(m => m.MANV, new SelectList(Model.NHANVIENs, "manv", "tennv"), "", new { @class = "form-control spb" })

                                            @Html.ValidationMessageFor(model => model.MANV, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">

    $(function () {

        $.validator.methods.date = function (value, element) {
            return this.optional(element) || moment(value, "DD/MM/YYYY", true).isValid();
        }

        $('#reservationdatetime1').datetimepicker({
            icons: { time: 'far fa-clock' },
            locale: 'vi',
            format: 'DD/MM/yyyy'
        });

        $("#reservationdatetime1").on("change.datetimepicker", function (e) {
            $('#reservationdatetime2').datetimepicker('minDate', e.date);
        });
    })

</script>
