@model IEnumerable<QuanLyTrungTamTiemChung.Models.NHASANXUAT>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Danh sách nhà sản xuất</h1>
            </div>
        </div>
    </div>
</section>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Tìm kiếm</h3>

                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        @using (Html.BeginForm("Index", "NhaSanXuat", FormMethod.Get))
                        {
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="searchTenNSX">Tên nhà sản xuất</label>
                                        <div style="width: 100%;">
                                            <input type="text" id="searchTenNSX" class="form-control " value="@ViewBag.SearchTenNSX" name="searchTenNSX">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="searchDiaChi">Địa chỉ</label>
                                        <div style="width: 100%;">
                                            <input type="text" id="searchDiaChi" class="form-control " value="@ViewBag.SearchDiaChi" name="searchDiaChi">
                                        </div>
                                    </div>
                                </div>                              
                            </div>

                            <div class="row" style="padding: 0px 7.5px;">
                                <div class="input-group input-group-lg">
                                    <div class="input-group-append">
                                        <button type="submit" class="btn btn-lg btn-default" id="button">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <div class="col-sm-2">
                            <a href="~/Admin/NhaSanXuat/Create" class="btn btn-primary">
                                Thêm mới
                            </a>
                        </div>

                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="example1" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.TENNSX)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.SDT)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.DIACHI)
                                    </th>
                                    <th>Chức năng</th>
                                </tr>
                            </thead>

                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TENNSX)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.SDT)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DIACHI)
                                    </td>                                    
                                    <td>

                                        <a class="btn-edit" href="~/Admin/NhaSanXuat/Edit/@item.MANSX">
                                            <i class="far fa-edit icon-edit"></i>
                                        </a>

                                        <a class="js-delete" href="~/Admin/NhaSanXuat/Delete/@item.MANSX">
                                            <i class="far fa-trash-alt icon-delete" style="margin-right: 10px"></i>
                                        </a>

                                        <a class="info" href="~/Admin/NhaSanXuat/Info/@item.MANSX">
                                            <i class="fas fa-info-circle"></i>
                                        </a>

                                    </td>
                                </tr>
                            }
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>
<script>
    $(function () {
        $("#example1").DataTable({
            "responsive": true, "lengthChange": false, "autoWidth": false,
            "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
        }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');

        $("#example1").on("click", ".js-delete", function (event) {
            var button = $(this);

            event.preventDefault();

            bootbox.confirm("Bạn chắc chắn muốn xoá mục này?", function (r) {
                if (r) {
                    window.location = button.attr('href');
                }
            })


        });

        $('.searchCoSo').select2();

        if (document.location.search.length) {
            var urlParams = new URLSearchParams(document.location.search);

            $('#searchCoSo').val(urlParams.get('searchCoSo'));

            if (urlParams.get('searchTuNDK')) {

                var s1 = urlParams.get('searchTuNDK').split('/');
                var date1 = new Date(s1[2], s1[1] - 1, s1[0]);
                $('#reservationdatetime1').datetimepicker({
                    useCurrent: false,
                    icons: { time: 'far fa-clock' },
                    format: 'DD/MM/yyyy',
                    locale: 'vi',
                    defaultDate: date1
                });

                $("#reservationdatetime1").on("change.datetimepicker", function (e) {
                    $('#reservationdatetime2').datetimepicker('minDate', e.date);
                });
                $("#reservationdatetime2").on("change.datetimepicker", function (e) {
                    $('#reservationdatetime1').datetimepicker('maxDate', e.date);
                });

            }
            else {
                console.log(typeof (urlParams.get('searchTuNDK')))

                $('#reservationdatetime1').datetimepicker({
                    icons: { time: 'far fa-clock' },
                    format: 'DD/MM/yyyy',
                    locale: 'vi'
                });

                $("#reservationdatetime1").on("change.datetimepicker", function (e) {
                    $('#reservationdatetime2').datetimepicker('minDate', e.date);
                });
                $("#reservationdatetime2").on("change.datetimepicker", function (e) {
                    $('#reservationdatetime1').datetimepicker('maxDate', e.date);
                });
            }

            if (urlParams.get('searchDenNDK')) {
                var s2 = urlParams.get('searchDenNDK').split('/');
                var date2 = new Date(s2[2], s2[1] - 1, s2[0]);


                $('#reservationdatetime2').datetimepicker({
                    useCurrent: false,
                    format: 'DD/MM/yyyy',
                    locale: 'vi',
                    icons: { time: 'far fa-clock' },
                    defaultDate: date2
                });

                $("#reservationdatetime1").on("change.datetimepicker", function (e) {
                    $('#reservationdatetime2').datetimepicker('minDate', e.date);
                });
                $("#reservationdatetime2").on("change.datetimepicker", function (e) {
                    $('#reservationdatetime1').datetimepicker('maxDate', e.date);
                });
            }
            else {
                $('#reservationdatetime2').datetimepicker({
                    useCurrent: false,
                    format: 'DD/MM/yyyy',
                    locale: 'vi',
                    icons: { time: 'far fa-clock' }
                });

                $("#reservationdatetime1").on("change.datetimepicker", function (e) {
                    $('#reservationdatetime2').datetimepicker('minDate', e.date);
                });
                $("#reservationdatetime2").on("change.datetimepicker", function (e) {
                    $('#reservationdatetime1').datetimepicker('maxDate', e.date);
                });
            }


            var btns = document.querySelectorAll('.info')
            console.log(btns)
            btns.forEach(e => e.href = e.href + document.location.search)


        }

        else {
            $('#reservationdatetime1').datetimepicker({
                icons: { time: 'far fa-clock' },
                format: 'DD/MM/yyyy',
                locale: 'vi'
            });
            $('#reservationdatetime2').datetimepicker({
                useCurrent: false,
                format: 'DD/MM/yyyy',
                locale: 'vi',
                icons: { time: 'far fa-clock' }
            });
        }

        $("#reservationdatetime1").on("change.datetimepicker", function (e) {
            $('#reservationdatetime2').datetimepicker('minDate', e.date);
        });
        $("#reservationdatetime2").on("change.datetimepicker", function (e) {
            $('#reservationdatetime1').datetimepicker('maxDate', e.date);
        });
    });
</script>