@model QuanLyTrungTamTiemChung.Areas.Admin.ViewModel.PDKViewModel
@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Thông tin tiêm chủng</h1>
            </div>

        </div>
    </div><!-- /.container-fluid -->
</section>

<section class="content">
    <div class="container-fluid">

        <div class="card card-default">

            <div class="card-header">
                <h3 class="card-title">Thông tin người tiêm</h3>
            </div>

            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <p>Tên người tiêm: @Model.KHACHHANG.TENKH</p>
                        <p>Giới tính: @Model.KHACHHANG.GIOITINH</p>
                        <p>Ngày sinh: @Html.DisplayFor(c => c.KHACHHANG.NGAYSINH)</p>
                        <p>SĐT: @Model.KHACHHANG.SDT</p>
                    </div>
                    <div class="col-md-6">
                        <p>Địa chỉ: @Model.KHACHHANG.DIACHI</p>
                        <p>Thân nhân: @Model.KHACHHANG.TENTHANNHAN</p>
                        <p>Mối quan hệ: @Model.KHACHHANG.MOIQUANHE</p>
                        <p>SĐT thân nhân: @Model.KHACHHANG.SDTTHANNHAN</p>
                    </div>
                </div>


            </div>

        </div>

        <div class="card card-default">

            <div class="card-header">
                <h3 class="card-title">Phiếu khám</h3>
            </div>

            <div class="card-body">
                @{ 
                    var nk = ViewBag.Nk != "-1" ? "Ngày khám: " + ViewBag.Nk : "";
                }
                <p>@nk</p>
                <div class="row">
                    @using (Html.BeginForm("LuuPhieuKham", "TiemChung", FormMethod.Post, new { name = "formpk", style = "display: flex; width: 100%; " }))
                    {
                        string returnUrl = ViewBag.ReturnUrl;

                        <input type="hidden" name="returnUrl" value="@returnUrl" />
                        @Html.HiddenFor(model => model.MAPHIEUDK)
                        <input type="hidden" id="hddiung" value="@ViewBag.Diung" />


                        <div class="col-md-6">


                            @Html.AntiForgeryToken()
                            <label>Dị ứng</label>

                            <div>
                                <input type="radio" id="diung1" name="diung" value="0"
                                       checked>
                                <label for="diung1" style="font-weight:400">Không</label>
                            </div>

                            <div>
                                <input type="radio" id="diung2" name="diung" value="1">
                                <label for="diung2" style="font-weight:400">Có</label>
                            </div>
                            <input type="text" name="diungtext" id="diungtext" class="form-control col-md-11" disabled style="height:64px" />


                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Nhiệt độ</label>
                                @Html.EditorFor(model => model.PHIEUKHAM.NHIETDO, new { htmlAttributes = new { Name = "nhietdo", @class = "form-control col-md-11" } })

                                @*<input type="text" name="nhietdo" class="form-control col-md-11" />*@
                            </div>
                            <div class="form-group">
                                <label>Huyết áp</label>
                                @Html.EditorFor(model => model.PHIEUKHAM.HUYETAP, new { htmlAttributes = new { Name = "huyetap", @class = "form-control col-md-11" } })

                                @*<input type="text" name="huyetap" class="form-control col-md-11" />*@
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Save" class="btn btn-primary" />
                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>

        <div class="card card-default">

            <div class="card-header">
                <h3 class="card-title">Phiếu tiêm</h3>
            </div>

            <div class="card-body">

                @using (Html.BeginForm("LuuPhieuTiem", "TiemChung", FormMethod.Post, new { name = "formpt", style = "width: 100%; " }))
                {
                    @Html.AntiForgeryToken()

                    string returnUrl = ViewBag.ReturnUrl;

                    <input type="hidden" name="returnUrl" value="@returnUrl" />
                    @Html.HiddenFor(model => model.MAPHIEUDK)

                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        <label class="btn bg-olive">
                            <input type="radio" name="options" id="option1" autocomplete="off" value="0" checked> Vắc xin gói
                        </label>

                        <label class="btn bg-olive">
                            <input type="radio" name="options" id="option2" value="1" autocomplete="off"> Vắc xin lẻ
                        </label>
                    </div>
                    <div class="row" style="margin-top:20px">
                        <div class="col-md-5">
                            <label>Chọn gói vắc xin</label>
                            @Html.DropDownListFor(C => C.MAGOIVX, new SelectList(Model.GOIVACXIN, "MAGOIVX", "TENGOIVX"), "", new { @class = "form-control spb", @required = "required" })
                        </div>



                        @*<div class="col-md-5 form-group">
                    <div class="form-group">
                        <label>Chọn vắc xin lẻ</label>
                        <select name="cars" id="vxle" class="col">
                            <option value="volvo">Vắc xin 6 trong 1 Hexaxim (6in1) - 1,258,000đ</option>
                            <option value="saab">HUYẾT THANH UỐN VÁN SAT - 120,000đ</option>
                            <option value="opel">VẮC XIN EUVAX B 0.5ml - 140,000đ</option>
                            <option value="audi">VẮC XIN CÚM INFLUVAC TETRA 0.5ml - 428,000đ</option>
                        </select>
                    </div>


                    <div class="form-group">
                        <label>Liều lượng</label>
                        <input type="text" value="" class="form-control " />
                    </div>
                    <div class="form-group">
                        <label>Số lượng</label>
                        <input type="text" value="" class="form-control " />
                    </div>

                    <input type="submit" value="Thêm" class="btn btn-primary" style="margin-top:15px" />

                </div>*@

                    </div>

                    <div class="form-group">

                        <input type="submit" value="Save" class="btn btn-primary" style="margin-top:15px" />


                    </div>
                }

            </div>
        </div>
</section>

<script>
    @*const selectElement = document.querySelector('#MAGOIVX');
    console.log(selectElement)

    selectElement.addEventListener('change', (event) => {
        @{
            var s = document.querySelector('#MAGOIVX').value;
            var ct = Model.CT_GOIVX.Where(c => c.MAVX = )
        }
    });*@

    const diung = document.getElementById('hddiung').value;
    if (diung === "Không có") {
        document.getElementById("diung1").checked = true;
        document.getElementById("diungtext").disabled = true;

    }
    else if (diung !== "-1") {
        document.getElementById("diung2").checked = true;
        document.getElementById("diungtext").disabled = false;
        document.getElementById("diungtext").value = diung;

    }
    @*document.querySelector('.spb').value = @ViewBag.Magvx - 1*@
    $(function () {
        $('.spb').select2();
        $('#vxle').select2();



        var form = document.forms['formpk'];
        form.diung[0].onfocus = function () {
            form.diungtext.disabled = true;
        }
        form.diung[1].onfocus = function () {
            form.diungtext.disabled = false;
        }
    })

    
</script>