@model IEnumerable<QuanLyTrungTamTiemChung.Models.PHIEUDANGKY>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Danh sách tiêm chủng</h1>
            </div>

        </div>
    </div><!-- /.container-fluid -->
</section>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        

                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="example1" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>
                                        Phiếu đăng ký
                                    </th>
                                    <th>
                                        Ngày đăng ký
                                    </th>
                                    <th>
                                        Họ tên
                                    </th>
                                    <th>
                                        Số điện thoại
                                    </th>
                                    <th>
                                        Phiếu khám
                                    </th>
                                    <th>
                                        Phiếu tiêm
                                    </th>
                                    <th>
                                        Hoá đơn
                                    </th>
                                    <th>
                                        Trạng thái
                                    </th>
                                    <th>Chức năng</th>
                                </tr>
                            </thead>

                            @foreach (var item in Model)
                            {
                                var pks = "";
                                var pk = item.PHIEUKHAM.FirstOrDefault();
                                if (pk == null)
                                {
                                    pks = "Chưa có";
                                }
                                else
                                {
                                    pks = pk.MAPHIEUKHAM.ToString();
                                }

                                
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.MAPHIEUDK)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.NGAYDANGKYTIEM)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.KHACHHANG.TENKH)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.KHACHHANG.SDT)
                                    </td>
                                    <td class="pk">
                                        @Html.DisplayFor(modelItem => item.PHIEUKHAM.FirstOrDefault().MAPHIEUKHAM)
                                    </td>
                                    <td class="pt">
                                        @Html.DisplayFor(modelItem => item.PHIEUKHAM.FirstOrDefault().PHIEUTIEM.FirstOrDefault().MAPHIEUTIEM)
                                    </td>
                                    <td class="hd">
                                        @Html.DisplayFor(modelItem => item.PHIEUKHAM.FirstOrDefault().PHIEUTIEM.FirstOrDefault().HOADON.FirstOrDefault().MAHD)
                                    </td>
                                    <td class="tt">
                                        
                                    </td>
                                    <td>

                                        <a class="btn-edit" href="~/Admin/TiemChung/Edit/@item.MAPHIEUDK">
                                            <i class="far fa-edit icon-edit"></i>
                                        </a>

                                        <a class="js-delete" href="~/Admin/TiemChung/Delete/@item.MAPHIEUDK">
                                            <i class="far fa-trash-alt icon-delete"></i>
                                        </a>

                                    </td>
                                </tr>

                            }

                            

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>
<script>
    $(function () {
        $("#example1").DataTable({
            "responsive": true, "lengthChange": false, "autoWidth": false,
            "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
        }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');

        $("#example1").on("click", ".js-delete", function (event) {
            var button = $(this);

            event.preventDefault();

            bootbox.confirm("Bạn chắc chắn muốn xoá mục này?", function (r) {
                if (r) {
                    window.location = button.attr('href');
                }
            })
        });

        const pk = [...document.querySelectorAll('.pk')];

        for (let i = 0; i < pk.length; i++) {
              if (!pk[i].innerText) {
                pk[i].innerText = "Chưa có";
            }
                
        }

        const pt = [...document.querySelectorAll('.pt')];

        for (let i = 0; i < pt.length; i++) {
            if (!pt[i].innerText) {
                pt[i].innerText = "Chưa có";
            }

        }

        const hd = [...document.querySelectorAll('.hd')];

        for (let i = 0; i < hd.length; i++) {
            if (!hd[i].innerText) {
                hd[i].innerText = "Chưa có";
            }

        }

        const tt = [...document.querySelectorAll('.tt')];
        for (let i = 0; i < tt.length; i++) {
            if (pk[i].innerText === "Chưa có") {
                tt[i].innerText = "Chờ khám";
            }

            else if (pt[i].innerText === "Chưa có") {
                tt[i].innerText = "Chờ tiêm";
            }

            else if (hd[i].innerText === "Chưa có") {
                tt[i].innerText = "Chờ thanh toán";
            }

        }

    });
</script>